*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 88, 88);
    position: sticky;
    top: 0;   
}
.logo{
    padding: 1rem;
    width: auto;
    height: 100px;
}
header nav{
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    align-items: center;
}

header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}
section#imgPR{
    background-image: url(./img/portada.jpg);
    background-size: cover;
    height: 80vh;  
}
section#p1{
    background-image: url(./img/promo-bg.png);
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    text-align: center;


}
div text{
    align-items: center;
    justify-content: center;
}

div img{
    border-radius: 10px;
    
    height: auto;
    width: 50rem;
    justify-content: flex-start;
    
}